In [30]:
import pandas as pd
import numpy as np

In [31]:
data = pd.read_csv('/Users/almu/ironhack/datamad0119/module-1/pandas-project/your-code/sharks.csv')

In [32]:
#confirmamos que no hay registros duplicados a priori
before = len(data)
data = data.drop_duplicates()
after = len(data)
before,after

(5992, 5992)

In [33]:

data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [34]:
#renombramos nombre de columnas
data = data.rename(columns={'Species ':'Species','Sex ': 'Sex', 'Fatal (Y/N)':'Fatal', 'original order': 'Original_order'})

In [35]:
data.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal                     object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
Original_order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [36]:
#Cleaning. Missing values
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal                       19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [37]:
#Cleaning. Missing values. Eliminamos columnas con mÃ¡s de 4000 nulls
drop_cols = list(null_cols[null_cols > 4000].index)
data = data.drop(drop_cols, axis=1)

In [38]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Original_order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989

In [39]:
#eliminamos 'case number1' y 'case numer 2' porque no aportan info diferente a la columna de Date

data = data.drop(['Case Number.1','Case Number.2', 'Case Number'], axis=1)

In [40]:
#eliminamos columnas 'href formula','pdf','href' porque no interesan
drop_cols=['href formula','pdf','href']
data = data.drop(drop_cols, axis=1)

In [41]:
#cambiamos orden de columnas
column_order=['Original_order','Date', 'Year', 'Country', 'Area', 'Location','Name', 'Sex', 'Age','Type', 'Activity','Injury', 'Fatal', 'Time', 'Species','Investigator or Source']
data=data[column_order]
data.head()

,Original_order,Date,Year,Country,Area,Location,Name,Sex,Age,Type,Activity,Injury,Fatal,Time,Species,Investigator or Source
0,5993,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",male,M,16,Unprovoked,Surfing,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016"
1,5992,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Chucky Luciano,M,36,Unprovoked,Surfing,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016"
2,5991,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",male,M,43,Unprovoked,Surfing,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016"
3,5990,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,Rory Angiolella,M,NaN,Unprovoked,Surfing,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016"
4,5989,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,male,M,NaN,Unprovoked,Surfing,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016"

In [42]:
set(data['Year']) #encontramos aÃ±os con valor 0,55,77,500

{0,
 5,
 77,
 500,
 1543,
 1554,
 1555,
 1580,
 1595,
 1617,
 1637,
 1638,
 1642,
 1700,
 1703,
 1721,
 1733,
 1738,
 1742,
 1748,
 1749,
 1755,
 1758,
 1764,
 1767,
 1771,
 1776,
 1779,
 1785,
 1787,
 1788,
 1791,
 1800,
 1803,
 1804,
 1805,
 1807,
 1811,
 1812,
 1816,
 1817,
 1818,
 1819,
 1822,
 1825,
 1826,
 1827,
 1828,
 1829,
 1830,
 1831,
 1832,
 1834,
 1835,
 1836,
 1837,
 1839,
 1840,
 1841,
 1842,
 1844,
 1845,
 1846,
 1847,
 1848,
 1849,
 1850,
 1851,
 1852,
 1853,
 1854,
 1855,
 1856,
 1858,
 1859,
 1860,
 1861,
 1862,
 1863,
 1864,
 1865,
 1866,
 1867,
 1868,
 1869,
 1870,
 1871,
 1872,
 1873,
 1874,
 1875,
 1876,
 1877,
 1878,
 1879,
 1880,
 1881,
 1882,
 1883,
 1884,
 1885,
 1886,
 1887,
 1888,
 1889,
 1890,
 1891,
 1892,
 1893,
 1894,
 1895,
 1896,
 1897,
 1898,
 1899,
 1900,
 1901,
 1902,
 1903,
 1904,
 1905,
 1906,
 1907,
 1908,
 1909,
 1910,
 1911,
 1912,
 1913,
 1914,
 1915,
 1916,
 1917,
 1918,
 1919,
 1920,
 1921,
 1922,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1929,
 1930,
 1931,
 1932,
 1933,
 1934,
 1935,
 1936,
 1937,
 1938,
 1939,
 1940,
 1941,
 1942,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016}

In [43]:
#eliminamos valores de la columna YEAR (aÃ±o 5,500 y 77 son raros-no fiables al ser tan antiguos) (aÃ±o 0 no aportan info).
#las filas que eliminamos solo suponen un 2% del total
#consideramos que no supone un problema de cara a sacar conclusiones sobre la BBDD.Eliminamos
data=data.drop(data[data.Year == 0].index);
data=data.drop(data[data.Year == 5].index);
data=data.drop(data[data.Year == 500].index);
data=data.drop(data[data.Year == 77].index);

In [44]:
#Tabla 1: ataques por paises
attacks_per_country = data.groupby(['Country'])['Original_order'].count().reset_index(name='Number_attacks') 
attacks_per_country=attacks_per_country.sort_values(by='Number_attacks', ascending=False)
attacks_per_country=attacks_per_country[:13]
attacks_per_country  #hemos seleccionado aquellos paÃ­ses de mas de 50 ataques
#USA y Australia mÃ¡s ataques con diferencia

              Country  Number_attacks
190               USA            2099
11          AUSTRALIA            1262
158      SOUTH AFRICA             557
136  PAPUA NEW GUINEA             129
118       NEW ZEALAND             124
19             BRAZIL             102
13            BAHAMAS              95
104            MEXICO              80
82              ITALY              69
53               FIJI              59
139       PHILIPPINES              59
144           REUNION              55
116     NEW CALEDONIA              51

In [45]:
#Tabla 2: Ataques por aÃ±o
attacks_per_year = data.groupby(['Year'])['Original_order'].count().reset_index(name='Number_attacks')  
attacks_per_year=attacks_per_year.sort_values(by='Number_attacks', ascending=False)
attacks_per_year=attacks_per_year[:11]
attacks_per_year  #Ãºltimos aÃ±os mÃ¡s ataques pero puede haber una mayor recogida de datos

     Year  Number_attacks
226  2015             139
222  2011             128
225  2014             125
224  2013             122
219  2008             121
220  2009             120
223  2012             117
218  2007             112
227  2016             103
217  2006             103
216  2005             103

In [46]:
#BINS Dangerous area level segÃºn los ataques que ha habido
d_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']
bins = pd.qcut(attacks_per_country['Number_attacks'],5, labels=d_labels)
bins.head(13)

190    Very High
11     Very High
158    Very High
136         High
118         High
19      Moderate
13      Moderate
104     Moderate
82           Low
53      Very Low
139     Very Low
144     Very Low
116     Very Low
Name: Number_attacks, dtype: category
Categories (5, object): [Very Low < Low < Moderate < High < Very High]

In [47]:
#cambiamos values (Nan, '.', 'N', 'IIi') de columna Sex por 'U' de Unknown...
data[['Sex']] = data[['Sex']].fillna(0)
data['Sex'].value_counts()

M      4732
F       572
0       556
M         2
.         1
lli       1
N         1
Name: Sex, dtype: int64

In [48]:
#...
vals_to_replace = {'M ': 'M','N':'U' ,'lli': 'U','.': 'U','M':'M','F':'F'}
data['Sex'] = data['Sex'].map(vals_to_replace)

In [49]:
#Tabla 3: Ataques por sexo
attacks_per_sex = data.groupby(['Sex'])['Original_order'].count().reset_index(name='Number_attacks')  
attacks_per_sex=attacks_per_sex.sort_values(by='Number_attacks', ascending=False)
attacks_per_sex=attacks_per_sex[:11]
attacks_per_sex
 
#mayorÃ­a de ataques fueron a hombres

  Sex  Number_attacks
1   M            4734
0   F             572
2   U               3

In [50]:
#filtramos por Australia y USA ya que son los countries con mÃ¡s ataques y filtramos a partir de 2005 por el mismo motivo
Australia = data[(data['Country']=='AUSTRALIA')&(data['Year']>=2005)]
USA = data[(data['Country']=='USA')&(data['Year']>=2005)]

In [51]:
#Combinamos dataFrames de Australia y USA mediante "concat"
frames=[Australia,USA]
Aus_USA=pd.concat(frames)

In [52]:
Aus_USA_areas= Aus_USA.groupby(['Country','Area','Fatal']).Original_order.count().reset_index(name='Number_attacks')
vals_to_replace = {'UNKNOWN': '?','Y':'Y','N':'N'}
Aus_USA_areas['Fatal'] = Aus_USA_areas['Fatal'].map(vals_to_replace)
Aus_USA_areas
Aus_USA_areas=Aus_USA_areas.sort_values(by='Number_attacks', ascending=False)
Aus_USA_areas
#Florida (USA) y New South Wales(Aus) son los lugares donde mÃ¡s ataques ha habido pero ninguno de esos ataques ha sido mortal.
# el lugar donde mÃ¡s ataques mortales ha habido (de USA o AUS) es Western Australia con 15 ataques mortales

      Country                                  Area Fatal  Number_attacks
20        USA                               Florida     N             331
0   AUSTRALIA                       New South Wales     N             105
24        USA                                Hawaii     N              87
17        USA                            California     N              79
40        USA                        South Carolina     N              53
14  AUSTRALIA                     Western Australia     N              45
34        USA                        North Carolina     N              44
4   AUSTRALIA                            Queensland     N              36
12  AUSTRALIA                              Victoria     N              20
43        USA                                 Texas     N              20
6   AUSTRALIA                       South Australia     N              16
15  AUSTRALIA                     Western Australia     Y              15
36        USA                                Oregon     N              11
2   AUSTRALIA                       New South Wales     Y               7
25        USA                                Hawaii     Y               6
8   AUSTRALIA                              Tasmania     N               5
16        USA                               Alabama     N               5
5   AUSTRALIA                            Queensland     Y               5
21        USA                               Florida     Y               4
31        USA                            New Jersey     N               4
18        USA                            California     Y               4
30        USA                         Massachusetts     N               3
7   AUSTRALIA                       South Australia     Y               3
3   AUSTRALIA                    Northern Territory     N               3
38        USA                           Puerto Rico     N               2
33        USA                              New York     N               2
37        USA                         Palmyra Atoll     N               2
45        USA                              Virginia     N               2
11  AUSTRALIA                         Torres Strait     N               2
27        USA                             Louisiana     N               2
19        USA                              Delaware     N               2
28        USA                                 Maine     N               1
44        USA                     US Virgin Islands     N               1
9   AUSTRALIA                              Tasmania     Y               1
42        USA                        South Carolina     Y               1
41        USA                        South Carolina     ?               1
10  AUSTRALIA  Territory of Cocos (Keeling) Islands     N               1
39        USA                           Puerto Rico     Y               1
13  AUSTRALIA                              Victoria     Y               1
29        USA                              Maryland     N               1
35        USA                        North Carolina     Y               1
22        USA                               Georgia     N               1
1   AUSTRALIA                       New South Wales     ?               1
32        USA                            New Mexico     N               1
26        USA                              Kentucky     N               1
23        USA                                  Guam     N               1

In [53]:
data.Activity.value_counts()

Surfing                                                                                                                                                                   903
Swimming                                                                                                                                                                  804
Fishing                                                                                                                                                                   407
Spearfishing                                                                                                                                                              321
Bathing                                                                                                                                                                   150
Wading                                                                                                                                                                    142
Diving                                                                                                                                                                    111
Standing                                                                                                                                                                   95
Snorkeling                                                                                                                                                                 76
Scuba diving                                                                                                                                                               73
Body boarding                                                                                                                                                              54
Body surfing                                                                                                                                                               48
Swimming                                                                                                                                                                   47
Treading water                                                                                                                                                             32
Kayaking                                                                                                                                                                   28
Boogie boarding                                                                                                                                                            28
Pearl diving                                                                                                                                                               28
Free diving                                                                                                                                                                24
Fell overboard                                                                                                                                                             21
Windsurfing                                                                                                                                                                18
Boogie Boarding                                                                                                                                                            16
Walking                                                                                                                                                                    15
Shark fishing                                                                                                                                                              15
Floating                                                                                                                                                                   12
Rowing                                                                                                                                                                     12
Fishing                                                                                                                                                                    12
Surf skiing                                                                                                                                                                12
Surf-skiing                                                                                                                                                                12
Canoeing                                                                                                                                                                   11
Fishing for sharks                                                                                                                                                         11
                                                                                                                                                                         ...
Fishing for pompano                                                                                                                                                         1
Playing soccer in the water                                                                                                                                                 1
No details                                                                                                                                                                  1
Standing / Wading                                                                                                                                                           1
After rowing skiff was holed by shark, he was attempting to swim ashore                                                                                                     1
Jumped off surfboard & landed on the shark                                                                                                                                  1
Swimming to shore after boat capsized by a squall                                                                                                                           1
Ship's boat capsized in squall, captain & 2 sailors clinging onto hull                                                                                                      1
Netting shrimp                                                                                                                                                              1
The British steamer Caribbee foundered                                                                                                                                      1
Fishing, removing gaff from shark's mouth                                                                                                                                   1
Rowing toward snapper grounds                                                                                                                                               1
Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14' boat, Boat apparently sank, debris recovered but his son & boat were never found      1
Went overboard                                                                                                                                                              1
Overcome by CO fumes, fell overboard from 36' fishing cruiser & prop slashed arm                                                                                            1
The 3540-ton Alfonso Penna was torpedoed & sunk by the Italian submarine Barbarigo                                                                                          1
Playing on a sandbar                                                                                                                                                        1
Skindiving, fish at belt                                                                                                                                                    1
bathing                                                                                                                                                                     1
Boogie boarding, kicked at object in the water                                                                                                                              1
Argentine Air Force C-54                                                                                                                                                    1
Playing with an air mattress                                                                                                                                                1
Surfing, but lying prone on his board                                                                                                                                       1
Surf bathing                                                                                                                                                                1
Dress diving                                                                                                                                                                1
Surfing / Wading                                                                                                                                                            1
Testing classified underwater electronic gear for Raytheon Corporation, vessel torn apart by explosion                                                                      1
Photographing fish                                                                                                                                                          1
Hauling in net with shark in it                                                                                                                                             1
Watching seine netters with friends, one of whom picked up a netted shark                                                                                                   1
Name: Activity, Length: 1453, dtype: int64

In [54]:
data_output = data.to_csv('/Users/almu/ironhack/datamad0119/module-1/pandas-project/your-code/sharks-output.csv', index=False)

In [55]:
Aus_USA_areas_output= Aus_USA_areas.to_csv('/Users/almu/ironhack/datamad0119/module-1/pandas-project/your-code/sharks-output2.csv', index=False)

In [56]:
data

,Original_order,Date,Year,Country,Area,Location,Name,Sex,Age,Type,Activity,Injury,Fatal,Time,Species,Investigator or Source
0,5993,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",male,M,16,Unprovoked,Surfing,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016"
1,5992,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Chucky Luciano,M,36,Unprovoked,Surfing,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016"
2,5991,18-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",male,M,43,Unprovoked,Surfing,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016"
3,5990,17-Sep-16,2016,AUSTRALIA,Victoria,Thirteenth Beach,Rory Angiolella,M,NaN,Unprovoked,Surfing,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016"
4,5989,16-Sep-16,2016,AUSTRALIA,Victoria,Bells Beach,male,M,NaN,Unprovoked,Surfing,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016"
5,5988,15-Sep-16,2016,AUSTRALIA,Western Australia,Bunbury,Occupant: Ben Stratton,NaN,NaN,Boat,Fishing,Shark rammed boat. No injury to occupant,N,NaN,NaN,"West Australian, 9/15/2016"
6,5987,11-Sep-16,2016,USA,Florida,"Ponte Vedra, St. Johns County",male,M,60s,Unprovoked,Wading,Minor injury to arm,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016"
7,5986,07-Sep-16,2016,USA,Hawaii,"Makaha, Oahu",female,F,51,Unprovoked,Swimming,Severe lacerations to shoulder & forearm,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016"
8,5985,06-Sep-16,2016,NEW CALEDONIA,North Province,Koumac,David Jewell,M,50,Unprovoked,Kite surfing,FATAL,Y,15h40,NaN,"TVANouvelles, 9/6/2016"
9,5984,05-Sep-16,2016,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Rylie Williams,F,12,Unprovoked,Boogie boarding,Lacerations & punctures to lower right leg,N,Late afternoon,NaN,"C. Creswell, GSAF"
10,5983,05-Sep-16,2016,AUSTRALIA,Western Australia,Injidup,Fraser Penman,M,NaN,Unprovoked,Surfing,"No inury, board broken in half by shark",N,Late afternoon,NaN,"Perth Now, 9/5/2016"
11,5982,04-Sep-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Austin Moore,M,9,Unprovoked,Body boarding,Foot bitten,N,NaN,NaN,"Orlando Sentinel, 9/7/2016"
12,5981,01-Sep-16,2016,USA,California,"Refugio State Beach, Santa Barbara County",Tyler McQuillen,M,22,Unprovoked,Spearfishing,Two toes broken & lacerated,N,NaN,White shark,"R. Collier, GSAF"
13,5980,29-Aug-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Sam Cumiskey,M,25,Unprovoked,Surfing,Lacerations to right foot,N,15h00,"Bull shark, 6'","News Channel 8, 8/30/16"
14,5979,29-Aug-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",male,M,37,Unprovoked,Surfing,Minor injury to ankle,N,14h00,NaN,"News Channel 8, 8/30/16"
15,5978,27-Aug-16,2016,REUNION,NaN,Boucan Canot,Laurent Chardard,M,20,Unprovoked,Surfing,"Right arm severed, ankle severely bitten",N,17h00,"Bull shark, 3.5 m","LaDepeche, 8/29/2016"
16,5977,25-Aug-16,2016,USA,Florida,"Ponte Vedra, St. Johns County",David Cassetty,M,49,Unprovoked,Wading,Minor injury to ankle,N,16h00,NaN,"First Coast News, 7/25/2016"
17,5976,07-Aug-16,2016,BAHAMAS,New Providence Island,Nassau,Johnny Stoch,M,15,Unprovoked,Snorkeling,Lacerations to left leg,N,NaN,NaN,"ABC, 8/11/2016"
18,5975,06-Aug-16,2016,USA,Hawaii,Maui,Connor Baxter,M,21,Unprovoked,SUP Foil boarding,"No inury, shark & board collided",N,NaN,"Tiger shark, 10'","SUP, 8/9/2015"
19,5974,04-Aug-16,2016,USA,Florida,"New Smyrna Beach, Volusia County",Nolan Tyler,M,22,Unprovoked,Surfing,Big toe bitten,N,NaN,Blacktip shark,"News 965, 8/5/2016"
20,5973,29-Jul-16,2016,SPAIN,Alicante Province,Arenales del Sol,male,M,40,Unprovoked,Swimming,Lacerations to right hand,N,11h30,Blue shark,"Informacion.es, 7/29/2016"
21,5972,28-Jul-16,2016,CHINA,Hong Kong,NaN,Justus Franz,M,72,Unprovoked,Swimming,Lacerations to leg,N,NaN,NaN,"Klassick, 7/28/2016"
22,5971,28-Jul-16,2016,AUSTRALIA,Western Australia,Near Albany,Ian Watkins,M,NaN,Boat,Kayaking,"No injury, shark nudged kayak repeatedly",N,NaN,White shark,"ABC Australia, 7/28/2016"
23,5970,27-Jul-16,2016,USA,Florida,"Florida Keys, Monroe County",Warren Sapp,M,43,Provoked,Lobstering,Laceration to left forearm PROVOKED INCIDENT,N,NaN,"Nurse shark, 4'","Tampa Bay Times, 7/27/2016"
24,5969,26-Jul-16,2016,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Curran See & Harry Lake,M,18,Unprovoked,Surfing,"No injury. Leg rope severed, knocked off board...",N,12h00,NaN,"Gold Coast Bulletin, 7/28/2016"
25,5968,24-Jul-16,2016,JAPAN,Kochi Prefecture,Irino Beach,male,M,29,Unprovoked,Surfing,Lacerations to left leg,N,19h05,NaN,"Japan Times, 7/25/2016"
26,5967,23-Jul-16,2016,AUSTRALIA,Tasmania,Clifton Beach,Zebulon Critchlow,M,36,Unprovoked,Surfing,Calf bumped but no injury,N,NaN,NaN,"C. Black, GSAF"
27,5966,23-Jul-16,2016,BAHAMAS,Abaco Islands,Green Turtle Cay,Steve Cutbirth,M,NaN,Unprovoked,Spearfishing,Lacerations to face and right leg,N,NaN,"Bull shark, 6'","KWTX, 7/23/2016"
28,5965,20-Jul-16,2016,AUSTRALIA,Queensland,"20 k off The Spit, off the Gold Coast",Scott van Burck,M,31,Provoked,Fishing,Laceration to left calf from hooked shark PROV...,N,After noon,"reef shark, 1m","Nine News, 7/20/2016"
29,5964,17-Jul-16,2016,USA,Alabama,8 miles off Mobile,Occupant: Ben Raines,NaN,NaN,Boat,Fishing in Alabama Deep Fishing Rodeo,"No injury, shark bit trolling motor",N,NaN,"Tiger shark, 10'","Al.com, 7/19/2016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5835,158,05-Jul-1787,1787,St Helena,NaN,Landing Place,Private Isaac Hicksled,M,NaN,Unprovoked,Swimming,FATAL,Y,NaN,NaN,"H.R. Janisch (1885), Extracts from the St. Hel..."
5836,157,Reported 26-Sep-1785,1785,ENGLAND,Sussex,Brighton,NaN,M,NaN,Unprovoked,NaN,Human remains recovered from shark,Y,NaN,Tiger shark?,"C. Moore, GSAF"
5837,156,1779,1779,USA,Hawaii,"Maliu, Hawai'i",Nu'u-anu-pa'a hu,M,young,Unprovoked,Surfing,"FATAL, buttock lacerated",Y,NaN,NaN,"G.H. Balazs; J. Borg, p.68; L. Taylor (1993), ..."
5838,155,Reported 1776,1776,GUINEA,NaN,NaN,African slave,M,NaN,Unprovoked,Murder,FATAL,Y,NaN,NaN,T. Pennant
5839,154,1776,1776,GREENLAND,NaN,NaN,Occupants of skin boats,NaN,NaN,Boat,NaN,FATAL,Y,NaN,White sharks,T. Pennant
5840,153,Reported 12-Jul-1771,1771,USA,NaN,Damiscotte,male,M,NaN,Unprovoked,Fishing,FATAL,Y,NaN,NaN,"C. Moore, GSAF"
5841,152,1767,1767,FRANCE,CÃte d'Azur,St. Tropez,Samuel Matthews,M,NaN,Invalid,Bathing,Lacerations to arm & leg,N,NaN,Description of shark does not ring true,NaN
5842,151,1764,1764,SPAIN,NaN,Guadalquivir River,male,M,NaN,Unprovoked,Swimming,FATAL,Y,NaN,NaN,"C. Moore, GSAF"
5843,150,1758,1758,MEDITERRANEAN SEA,NaN,NaN,sailor,M,NaN,Unprovoked,Fell overboard from a frigate & was swallowed ...,"""He was taken up alive and but little injured.""",N,NaN,"""The fish was harpooned, dried, and presented ...",A.M. Hodgkin
5844,149,1749,1749,CUBA,Havana Province,Havana Harbor,Brook Watson,M,14,Unprovoked,Swimming,Right leg severed at knee. In 1796 he became ...,N,NaN,NaN,GSAF
5845,148,1755,1755,SWEDEN,Skagerrak arm of the North Sea,Bohuslâ°n,Fishermen,M,NaN,Unprovoked,NaN,NaN,UNKNOWN,NaN,NaN,"C. Moore, GSAF"
5846,147,1748,1748,PANAMA,Las Perlas archipelago,Taboga & Isla del Rey,African slaves,M,NaN,Unprovoked,Pearl diving,FATAL,Y,NaN,NaN,"J. Castro, et al"
5847,146,17-Dec-1742,1742,NaN,NaN,Carlisle Bay,2 impressed seamen,M,NaN,Unprovoked,Swimming,FATAL,Y,NaN,NaN,"C. Moore, GSAF"
5848,145,Reported 06-Apr-1738,1738,ITALY,Sicily,Strait of Messina,male,M,NaN,Unprovoked,Swimming,FATAL,Y,NaN,NaN,"C. Moore, GSAF"
5849,144,1733,1733,ICELAND,Bardestrand,Talkknefiord,NaN,NaN,NaN,Invalid,NaN,"Partial hominid remains recovered from shark, ...",NaN,NaN,NaN,E. Olafsen
5850,143,June 1721,1721,ITALY,Sardinia,"Ponte della Maddelena,",male,M,NaN,Unprovoked,Swimming,"FATAL, partial remains recovered from sharkÃ­s...",Y,NaN,"White shark, 1600-lb female",F. Ricciardi; A. De Maddalena.
5851,142,26-Mar-1703,1703,BARBADOS,Southwest coast,Carlisle Bay,"Samuel Jennings, a deserter from the British f...",M,19,Unprovoked,Swimming,"Hand and foot severely bitten, surgically ampu...",N,Night,NaN,"W.R.Cutter, Vol.1, p.252"
5852,141,1700s,1700,FRANCE,NaN,Nice,child,M,NaN,Unprovoked,NaN,FATAL,Y,NaN,NaN,"A. De Maddalena, citing Cazeils (1998)"
5853,140,1700s,1700,FRANCE,CÃte d'Azur,Antibes,seaman,M,NaN,Unprovoked,Bathing,Leg severed,N,NaN,White shark,"A. De Maddalena, citing Cazeils (1998)"
5854,139,1700s,1700,BARBADOS,NaN,NaN,seaman from the York,M,NaN,Unprovoked,Bathing,FATAL,Y,NaN,NaN,"Tioga Eagle, 10.26/ 1842"
5855,138,Late 1600s Reported 1728,1642,GUINEA,NaN,NaN,crew member of the Nieuwstadt,M,NaN,Invalid,Went overboard,FATAL,Y,NaN,NaN,"History of the Pyrates, by D. Defoe, Vol. 2, p.28"
5856,137,Reported 1638,1638,NaN,NaN,NaN,sailors,M,NaN,Unprovoked,NaN,NaN,UNKNOWN,NaN,NaN,Sir Thomas Herbert
5857,136,Reported 1637,1637,INDIA,West Bengal,Hooghly River mouth,Hindu pilgrims,NaN,NaN,Unprovoked,Wading,NaN,UNKNOWN,NaN,NaN,"H. Edwards, p.31, citing Sebastian Manrique"
5858,135,Reported 1617,1617,INDIA,West Bengal,Ganges Delta,Indian people,NaN,NaN,Unprovoked,NaN,NaN,UNKNOWN,NaN,NaN,"H. Edwards, p.31, citing Samuel Purchas"
5859,134,1642,1642,USA,New York,Between Manhattan and The Bronx,Antony Van Corlear,M,NaN,Unprovoked,Swimming,FATAL,Y,NaN,NaN,"Knickerbocker's History of New York, by Washin..."
5860,133,1595,1595,INDIA,Kerala,River Cochin,male,M,NaN,Unprovoked,Ship lay at anchor & man was working on its ru...,"Leg severed mid-thigh, hand severed, arm above...",UNKNOWN,NaN,NaN,The Voyage of John Huyghen van Linschoten
5861,132,Letter dated 10-Jan-1580,1580,Between PORTUGAL & INDIA,NaN,NaN,male,M,NaN,Unprovoked,Man fell overboard from ship. Those on board t...,"FATAL. ""Shark tore him to pieces.",Y,NaN,NaN,"G.P. Whitley, p. 10"
5862,131,1555,1555,NaN,NaN,NaN,male,M,NaN,Unprovoked,Swimming,NaN,UNKNOWN,NaN,NaN,Olaus Magnus
5863,130,Ca. 1554,1554,FRANCE,Nice & Marseilles,NaN,males (wearing armor),M,NaN,Unprovoked,NaN,NaN,UNKNOWN,NaN,Possibly white sharks,G. Rondelet
5864,129,Ca. 1543,1543,VENEZUELA,Magarita or Cubagua Islands,NaN,Indian slave,M,NaN,Unprovoked,Pearl diving,FATAL,Y,NaN,NaN,J. Castro

In [ ]:
data.loc[data['Injury'].str.contains('laceration'), 'TransType'] = 'Automatic'